body {
    background: lightslategray;
    max-width: 1100px;
    margin: auto;
    border: 5px;
}
#header-photo {
    max-width: 100%;
    height: auto;
    padding: 0px;
}
header {
    position: relative;
}
h2 {
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
}
h3 {
    font-size: 1.7em;
    text-align: center;
    color:white;
    font-family: 'Satisfy', cursive;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 3em;
    font-size: 5vw;
    color: white;
    font-family: 'Satisfy', cursive;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Antonio', sans-serif;
}

ul.topnav li a:hover:not(.active) {
    background-color: slategray;
    color: white;
}

ul.topnav li a.active {background-color: slategray;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    a.indexbox {width: 200px;}
}
#homepage-para {
    font-family: 'Antonio', sans-serif;
    text-align: left;
    color: black;
    font-size: 1.19em;
    font-style: normal;
}
.indexbox {
    display: flex;
    height: 450px;
}
.leftside {
    flex: 1 1 0;
    padding: 2em;
}
.rightside {
    flex: 1 1 0;
    text-align: left;
    padding: 1.4em;
}
#buffer {
    padding: 3vw;
}
footer {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    padding: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}
footer a:link {
    color: black;
    text-decoration: none;
}
footer a:visited {
    color: black;
}
footer a:hover {
    color: slategray;
    text-decoration: none;
}
.aboutbox {
    height: 35vw;
    display: flex;
}
.headshot {
    max-width: 500px;
    display: block;
    flex: 1 1 0;
    padding: 1em;
}
.bio {
    flex: 1 1 0;
    padding: 5px;
    font-family: 'Antonio', sans-serif;
    font-size: 2vw;
    padding-right: 5px;
}
.bio a:link {
    color: black;
    text-decoration: none;
}
.bio a:visited {
    color: black;
}
.bio a:hover {
    color: white;
    text-decoration: none;
}
.videolinks a:link {
    margin: auto;
}
.videolinks a:hover {
    opacity: 50%;
}
.videolinks {
    margin: auto;
    text-align: center;
}
.videolinks h3 {
    color: black;
}
#contact {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    padding: 5px;
}
#contact a:link {
    color: black;
    text-decoration: none;
}
#contact a:visited {
    color: black;
}
#contact a:hover {
    color: white;
    text-decoration: none;
}
#form {
    font-family: 'Antonio', sans-serif;
    text-align: center;
    padding: 15px;
}
.button {
    font-family: 'Antonio', sans-serif;
    font-style: bold;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: black;
    color: white;
}
#funButton {
    margin: 15px;
}